<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
<section class="content container-fluid">
  <section class="content-header"><h1 class="pagehead">Cms Manager</h1></section>

  <!-- Main content -->
  <section class="content">
    <div class="maindiv box box-primary">
      <div class="listheader"><a class="btn btn-primary btn-md" routerLink='/cms-manager/add' >Add Cms</a></div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example" class="table table-bordered table-striped" >
          <thead>
          <tr>
            <th>Page Name</th>
            <th>Page Title</th>
            <th>Meta Title</th>
            <th>status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of this.details;let i = index">
            <td>{{this.detail.page_name}}</td>
            <td>{{this.detail.page_title}}</td>
            <td>{{this.detail.meta_title}}</td>
            <td>
              <span *ngIf="this.detail.status==1" class="label label-success" >Activated</span>
              <span *ngIf="this.detail.status==0" class="label label-warning" >Deactivated</span>
          </td>
            <td>
              <a routerLink="/cms-manager/edit/{{this.detail._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
              <a href="javascript:void(0)" (click)="delete(this.detail._id)" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
              <a href="/cms-manager/view/{{this.detail._id}}" class="btn btn-xs btn-primary">View</a>&nbsp;&nbsp;
             
             
              <a *ngIf="this.detail.status==1"  title="Click To Deactivate"
              href="javascript:void(0)" (click)="updateStatus(this.detail._id,0)" class="btn btn-success btn-xs status_any_item"><span class="fa fa-check"></span></a>
              
              
              <a *ngIf="this.detail.status==0"  title="Click To Activate" href="javascript:void(0)" (click)="updateStatus(this.detail._id,1)" class="btn btn-warning btn-xs status_any_item"><span class="fa fa-ban"></span></a> 
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

</div>
