<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Contractor Manager</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/contractor-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2" for="category">Issue <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" name="category" [(ngModel)]="dataForm.category" #category="ngModel">
						<option value="">--Please select Category--</option>
						<option *ngFor="let category of this.categoryArray" value={{category.abbrev}}>
						{{category.name}}
						</option>
					</select>
					<div *ngIf="f.submitted && category.invalid" class="text-danger" >
					<div *ngIf="category.errors.required">issue is required</div>
					</div>
				</div>
				</div>	
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="name" [(ngModel)]="dataForm.name"  #name="ngModel" required />
					<div *ngIf="f.submitted && name.invalid" class="text-danger" >
						<div *ngIf="name.errors.required">name is required</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="speed">Speed <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="speed" [(ngModel)]="dataForm.speed"  #speed="ngModel" required />
					<div *ngIf="f.submitted && speed.invalid" class="text-danger" >
						<div *ngIf="speed.errors.required">speed is required</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="cost">Cost <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="cost" [(ngModel)]="dataForm.cost"  #cost="ngModel" required />
					<div *ngIf="f.submitted && cost.invalid" class="text-danger" >
						<div *ngIf="cost.errors.required">cost is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="quality">Quality <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="quality" [(ngModel)]="dataForm.quality"  #quality="ngModel" required />
					<div *ngIf="f.submitted && quality.invalid" class="text-danger" >
						<div *ngIf="quality.errors.required">quality is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="safty">Safty <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="safty" [(ngModel)]="dataForm.safty"  #safty="ngModel" required />
					<div *ngIf="f.submitted && safty.invalid" class="text-danger" >
						<div *ngIf="safty.errors.required">safty is required</div>
					</div>
				</div>
			</div>
			<!-- Main Page setting finish here -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/contractor-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>