<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Edit Inspector Manager</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/contractor-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
						<label class="control-label col-sm-2" for="full_name">Full Name <span class="text-danger">*</span></label>
						<div class="col-sm-8">
				<input type="text" class="form-control" name="full_name" [(ngModel)]="dataForm.full_name"  #full_name="ngModel" required />
				<div *ngIf="f.submitted && full_name.invalid" class="text-danger" >
					<div *ngIf="full_name.errors.required">Full name is required</div>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="file">Animation File <span class="text-danger"></span></label>
				<div class="col-sm-8">
					<input type="file" name="file" (change)="onFileChange($event)" (ngModel)="dataForm.file" observeFiles />
				</div>
			</div>

			<div class="form-group" >
				<label class="control-label col-sm-2" for="file">&nbsp; </label>
				<div class="col-sm-8"*ngIf="this.dataForm.file != undefined">
					<img width="50" height="50" src="{{env.serverUrl+env.uploadsInspector+this.dataForm.file}}" />
				</div>
      </div>
      <div class="form-group">
            <label class="control-label col-sm-2" for="designation">Designation <span class="text-danger">*</span></label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="designation" [(ngModel)]="dataForm.designation"  #designation="ngModel" required />
            <div *ngIf="f.submitted && designation.invalid" class="text-danger" >
              <div *ngIf="designation.errors.required">Designation is required</div>
            </div>
            </div>
      </div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="bio">Bio <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ckeditor  name="bio" [editor]="editor" [data]="data" placeholder="Enter bio" [(ngModel)]="dataForm.bio" #bio="ngModel" required></ckeditor>

					<div *ngIf="f.submitted && bio.invalid" class="text-danger" >
						<div *ngIf="bio.errors.required">Bio is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/building-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>