
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add Template</h1>
			<ol class="breadcrumb">
				<li><a href="/email-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="templateForm" #formDir="ngForm" class="form-horizontal">

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" placeholder="Title" required>
						<div *ngIf="templateForm.controls.title.invalid && (templateForm.controls.title.dirty || templateForm.controls.title.touched)" class="text-danger">
							<div *ngIf="templateForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="templateForm.controls.title.errors.minlength">Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="subject">Subject <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="subject" class="form-control fields" formControlName="subject" placeholder="Subject" required>
						<div *ngIf="templateForm.controls.subject.invalid && (templateForm.controls.subject.dirty || templateForm.controls.subject.touched)" class="text-danger">
							<div *ngIf="templateForm.controls.subject.errors.required"> Subject is required.</div>
							<div *ngIf="templateForm.controls.subject.errors.minlength">Subject must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="body">Body <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="body"  [editor]="editor" [data]="data"  formControlName="body" placeholder="Enter Body" ></ckeditor>

						<div *ngIf="templateForm.controls.body.invalid && (templateForm.controls.body.dirty || templateForm.controls.body.touched)" class="text-danger">
							<div *ngIf="templateForm.controls.body.errors.required">Body Description is required.</div>
							<div *ngIf="templateForm.controls.body.errors.minlength">Body Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="templateForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/email-manager" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>