<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Cms</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/cms-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Page Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="page_name" [(ngModel)]="userForm.page_name" placeholder="Enter Page Name" #page_name="ngModel" required />
					<div *ngIf="f.submitted && page_name.invalid" class="text-danger" >
						<div *ngIf="page_name.errors.required">Page Name is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_title">Page Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="page_title" [(ngModel)]="userForm.page_title" placeholder="Enter Page Title" #page_title="ngModel" required />
					<div *ngIf="f.submitted && page_title.invalid" class="text-danger" >
						<div *ngIf="page_title.errors.required">Page Title is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_description">Page Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<!-- <input type="text" class="form-control" name="page_description" [(ngModel)]="userForm.page_description" placeholder="Enter Page Description" #page_description="ngModel" required /> -->

					<ckeditor  name="page_description" [editor]="editor" [data]="data" placeholder="Enter Page Description" [(ngModel)]="userForm.page_description" #page_description="ngModel" required></ckeditor>


					<div *ngIf="f.submitted && page_description.invalid" class="text-danger" >
						<div *ngIf="page_description.errors.required">Page Description is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="meta_title">Meta Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="meta_title" [(ngModel)]="userForm.meta_title" placeholder="Enter Meta Title" #meta_title="ngModel" required />
					<div *ngIf="f.submitted && meta_title.invalid" class="text-danger" >
						<div *ngIf="meta_title.errors.required">Meta Title is required</div>
					</div>
				</div>
      </div>
      <div class="form-group">
				<label class="control-label col-sm-2" for="meta_description">Meta Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="meta_description" [(ngModel)]="userForm.meta_description" placeholder="Enter Meta Description" #meta_description="ngModel" required />
					
					<div *ngIf="f.submitted && meta_description.invalid" class="text-danger" >
						<div *ngIf="meta_description.errors.required">Meta Description is required</div>
					</div>
				</div>
      </div>
      <div class="form-group">
				<label class="control-label col-sm-2" for="meta_keywords">Meta Keywords <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="meta_keywords" [(ngModel)]="userForm.meta_keywords" placeholder="Enter Meta Keywords" #meta_keywords="ngModel" required />
					<div *ngIf="f.submitted && meta_keywords.invalid" class="text-danger" >
						<div *ngIf="meta_keywords.errors.required">Meta Keywords is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/cms-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>