<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
<section class="content container-fluid">
  <section class="content-header"><h1 class="pagehead">Game Video Manager</h1></section>

  <!-- Main content -->
  <section class="content">
    <div class="maindiv box box-primary">
      <!-- <div class="listheader"><a class="btn btn-primary btn-md" routerLink='/game-videos/add' >Add Game Video</a></div> -->
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example" class="table table-bordered table-striped" >
          <thead>
          <tr>
            <th>Video</th>
            <th>Category</th>
            <th>Title</th>
            <th>Short Description</th>
            <th>status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of this.details">
            <td><iframe width="75" height="75" [src]="detail.video | safeUrl"></iframe></td>
            <td>{{this.categories[this.detail.category]}}</td>
            <td>{{this.detail.title}}</td>
            <td>{{this.detail.short_description}}</td>
            
            <td>
                <span *ngIf="this.detail.status==1" class="label label-success" >Activated</span>
                <span *ngIf="this.detail.status==0" class="label label-warning" >Deactivated</span>
            </td>
            <td>
              <a routerLink="/game-videos/edit/{{this.detail._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
              <a href="javascript:void(0)" (click)="delete(this.detail._id)" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
              <a *ngIf="this.detail.status==1"  title="Click To Deactivate"
              href="javascript:void(0)" (click)="updateStatus(this.detail._id,0)" class="btn btn-success btn-xs status_any_item"><span class="fa fa-check"></span></a>


              <a *ngIf="this.detail.status==0"  title="Click To Activate" href="javascript:void(0)" (click)="updateStatus(this.detail._id,1)" class="btn btn-warning btn-xs status_any_item"><span class="fa fa-ban"></span></a> 
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

</div>
