
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Cms</h1>
			<ol class="breadcrumb">
				<li><a href="/cms-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="userForm" #formDir="ngForm" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Page Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="page_name" class="form-control fields" formControlName="page_name" placeholder="Enter First Name" required >
					<div *ngIf="userForm.controls.page_name.invalid && (userForm.controls.page_name.dirty || userForm.controls.page_name.touched)" class="text-danger">
						<div *ngIf="userForm.controls.page_name.errors.required"> Page Name is required.</div>
						<div *ngIf="userForm.controls.page_name.errors.minlength">Page Name must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_title">Page Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="page_title" class="form-control fields" formControlName="page_title" placeholder="Enter Page Title" required >
					<div *ngIf="userForm.controls.page_title.invalid && (userForm.controls.page_title.dirty || userForm.controls.page_title.touched)" class="text-danger">
						<div *ngIf="userForm.controls.page_title.errors.required"> page Title is required.</div>
						<div *ngIf="userForm.controls.page_title.errors.minlength"> Name must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_description">Page Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<!-- <input id="page_description" class="form-control fields" formControlName="page_description" placeholder="Enter Page Description" required > -->
					
					<ckeditor id="page_description"  [editor]="editor" [data]="data"  formControlName="page_description" placeholder="Enter Meta Description" ></ckeditor>

					<div *ngIf="userForm.controls.page_description.invalid && (userForm.controls.page_description.dirty || userForm.controls.page_description.touched)" class="text-danger">
						<div *ngIf="userForm.controls.page_description.errors.required"> Description is required.</div>
						<div *ngIf="userForm.controls.page_description.errors.minlength"> Description must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="meta_title">Meta Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="meta_title" type="meta_title" class="form-control fields" formControlName="meta_title" placeholder="Enter Meta Title" required >
					<div *ngIf="userForm.controls.meta_title.invalid && (userForm.controls.meta_title.dirty || userForm.controls.meta_title.touched)" class="text-danger">
						<div *ngIf="userForm.controls.meta_title.errors.required"> meta_title is required.</div>
						<div *ngIf="userForm.controls.meta_title.errors.minlength"> meta_title must be at least 6 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="meta_description">Meta Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="meta_description" class="form-control fields" formControlName="meta_description" placeholder="Enter Meta Description" required >
					
					<div *ngIf="userForm.controls.meta_description.invalid && (userForm.controls.meta_description.dirty || userForm.controls.meta_description.touched)" class="text-danger">
						<div *ngIf="userForm.controls.meta_description.errors.required"> Description is required.</div>
						<div *ngIf="userForm.controls.meta_description.errors.minlength"> Description must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="meta_keywords">Meta Keywords <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="meta_keywords" class="form-control fields" formControlName="meta_keywords" placeholder="Enter Meta keywords" required >
					<div *ngIf="userForm.controls.meta_keywords.invalid && (userForm.controls.meta_keywords.dirty || userForm.controls.meta_keywords.touched)" class="text-danger">
						<div *ngIf="userForm.controls.meta_keywords.errors.required"> Meta Description is required.</div>
						<div *ngIf="userForm.controls.meta_keywords.errors.minlength"> Meta Description must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/cms-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>