<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Game</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/game" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<flash-messages></flash-messages>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="title" [(ngModel)]="userForm.title"  #title="ngModel" />
						<div *ngIf="f.submitted && title.invalid" class="text-danger" >
							<div *ngIf="title.errors.required">title is required</div>
						</div>
					</div>
	      		</div>
	      		<div class="form-group">
					<label class="control-label col-sm-2" for="budget">Budget</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="budget" [(ngModel)]="userForm.budget"  #budget="ngModel" />
						<div *ngIf="f.submitted && budget.invalid" class="text-danger" >
							<div *ngIf="budget.errors.required">Budget is required</div>
						</div>
					</div>
	      		</div>
	      		<div class="form-group">
					<label class="control-label col-sm-2" for="floor">Floor</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="floor" [(ngModel)]="userForm.floor"  #floor="ngModel" />
						<div *ngIf="f.submitted && floor.invalid" class="text-danger" >
							<div *ngIf="floor.errors.required">Floor is required</div>
						</div>
					</div>
	      		</div>
	      		<div class="form-group">
					<label class="control-label col-sm-2" for="saving_amount">Per Minute Saving Amount</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="saving_amount" [(ngModel)]="userForm.saving_amount"  #saving_amount="ngModel" />
						<div *ngIf="f.submitted && saving_amount.invalid" class="text-danger" >
							<div *ngIf="saving_amount.errors.required">Per Minute Saving Amount is required</div>
						</div>
					</div>
	      		</div>
      			<div class="form-group">
					<label class="control-label col-sm-2" for="description">Short Description </label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="description" [(ngModel)]="userForm.description"  #description="ngModel" />
						<div *ngIf="f.submitted && description.invalid" class="text-danger" >
							<div *ngIf="description.errors.required">Description is required</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary">Submit</button>&nbsp;
						<a routerLink="/game" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>