<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Building</h1>
			<ol class="breadcrumb">
				<li><a href="/building-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="name" class="form-control fields" formControlName="name"  required >
					<div *ngIf="dataForm.controls.name.invalid && (dataForm.controls.name.dirty || dataForm.controls.name.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.name.errors.required"> Name is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Building Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
					<div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
						<div *ngIf="f.file.errors.required">File is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ckeditor id="description"  [editor]="editor" [data]="data"  formControlName="description" placeholder="Enter Meta Description" ></ckeditor>
					<div *ngIf="dataForm.controls.description.invalid && (dataForm.controls.description.dirty || dataForm.controls.description.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.description.errors.required"> description is required.</div>
					</div>
				</div>
			</div>

			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/building-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>