<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Placement</h1>
			<ol class="breadcrumb">
				<li><a href="/placements-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="category">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" formControlName="category" >
						<option value="">--Please select category--</option>
						<option *ngFor="let category of this.categories" value={{category._id}}>
							{{category.name}}
						</option>
					</select>
					<div *ngIf="dataForm.controls.category.invalid && (dataForm.controls.category.dirty || dataForm.controls.category.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.category.errors.required"> category is required.</div>
					</div>
				</div>
			</div>	
			<div class="form-group">
				<label class="control-label col-sm-2" for="choice">Choice </label>
				<div class="col-sm-8">
					<input id="choice" class="form-control fields" formControlName="choice" >
					<div *ngIf="dataForm.controls.choice.invalid && (dataForm.controls.choice.dirty || dataForm.controls.choice.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.choice.errors.required"> choice is required.</div>
						<div *ngIf="dataForm.controls.choice.errors.minlength"> choice must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="choice">Answer </label>
				<div class="col-sm-8">
					<input id="answer" class="form-control fields" formControlName="answer" >
					<div *ngIf="dataForm.controls.answer.invalid && (dataForm.controls.answer.dirty || dataForm.controls.answer.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.answer.errors.required"> answer is required.</div>
						<div *ngIf="dataForm.controls.answer.errors.minlength"> answer must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/placements-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>