<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add User</h1>
			<ol class="breadcrumb">
				<li><a href="/users/{{this.user_role}}" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
            <form [formGroup]="userForm" #formDir="ngForm" class="form-horizontal">
				<input type="hidden" id="role_id" class="form-control fields" formControlName="role_id" value="{{this.user_role}}"  >
				<div class="form-group">
					<label class="control-label col-sm-2" for="first_name">First Name <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="first_name" class="form-control fields" formControlName="first_name" placeholder="Enter First Name" required >
                        <div *ngIf="userForm.controls.first_name.invalid && (userForm.controls.first_name.dirty || userForm.controls.first_name.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.first_name.errors.required"> First Name is required.</div>
                            <div *ngIf="userForm.controls.first_name.errors.minlength"> Name must be at least 4 characters long.</div>          
                        </div>	
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="last_name">Last Name <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="last_name" class="form-control fields" formControlName="last_name" placeholder="Enter Last Name" required >
                        <div *ngIf="userForm.controls.last_name.invalid && (userForm.controls.last_name.dirty || userForm.controls.last_name.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.last_name.errors.required"> Last Name is required.</div>
                            <div *ngIf="userForm.controls.last_name.errors.minlength"> Name must be at least 4 characters long.</div>          
                        </div>	
					</div>
                </div>
                <div class="form-group">
					<label class="control-label col-sm-2" for="email">Email <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="email" class="form-control fields" formControlName="email" placeholder="Enter Email" required >
                        <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
                            <div *ngIf="userForm.controls.email.errors.minlength"> Email must be at least 4 characters long.</div>          
                        </div>
					</div>
                </div>
                <div class="form-group">
					<label class="control-label col-sm-2" for="password">Password <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >
                        <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
                            <div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
                        </div>
					</div>
                </div>
                <div class="form-group">
					<label class="control-label col-sm-2" for="confirm_password">Confirm Password <span class="text-danger">*</span></label>
					<div class="col-sm-8">
                        <input id="confirm_password" type="password" class="form-control fields" formControlName="confirm_password" placeholder="Re-Enter Password" required >
						<div *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.confirm_password.errors.required"> Confirm Password is required.</div>
                            <div *ngIf="userForm.controls.confirm_password.errors.minlength"> Confirm Password must be at least 6 characters long.</div> 

                        </div>
                         <div *ngIf="userForm.controls.confirm_password.touched && userForm.hasError('validConfirmPassword')">
                            <div *ngIf="userForm.hasError('validConfirmPassword')">Confirm Your Password.</div>
                        </div>
					</div>
                </div>
                <div class="form-group">
                	<div class="col-sm-2">&nbsp;</div>
                	<div class="col-12 col-sm-8">
                		<input  type="radio" class="fields" formControlName="position" value="1">&nbsp;&nbsp;
                		<label class="control-label" for="team_name">Become Team Leader </label>&nbsp;&nbsp;
                		<input  type="radio" class="fields" formControlName="position" value="0">&nbsp;&nbsp;
                		<label class="control-label" for="team_name">Join Team</label>
                    </div>
                    <div *ngIf="userForm.controls.position.invalid && (userForm.controls.position.dirty || userForm.controls.position.touched)">
                        <div *ngIf="userForm.controls.position.errors.required">Field is required.</div>
                    </div>
                </div>
                <div class="form-group" *ngIf="userForm.controls.position.dirty && userForm.controls.position.value == 0">
                	<label class="control-label col-sm-2" for="team_id">Select Team <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select class="form-control fields" formControlName="team_id" >
	                        <option value="">--Please select team--</option>
	                        <option *ngFor="let summary of this.teamList" value={{summary._id}}>
	                            {{summary.team_name}}
	                        </option>
	                    </select>
	                </div>
                    <div *ngIf="userForm.controls.team_id.invalid">
                        <div *ngIf="userForm.controls.team_id.errors.required">Field is required.</div>
                    </div>
                </div>
                <div class="form-group" *ngIf="userForm.controls.position.value == 1">
					<label class="control-label col-sm-2" for="team_name">Team Name <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<input id="team_name" class="form-control fields" formControlName="team_name" placeholder="Enter Team Name" required >
                        <div *ngIf="userForm.controls.team_name.invalid && (userForm.controls.team_name.dirty || userForm.controls.team_name.touched)" class="text-danger">
                            <div *ngIf="userForm.controls.team_name.errors.required"> Team Name is required.</div>
                            <div *ngIf="userForm.controls.team_name.errors.minlength"> Name must be at least 4 characters long.</div>          
                        </div>	
					</div>
                </div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/users/{{this.user_role}}" class="btn btn-info">Cancel</a>
						<!-- <a (click)="reloadPage()" class="btn btn-info">Cancel</a> -->
					</div>
				</div>
			</form>
		</div>
	</section>
</div>