<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Answer</h1>
			<ol class="breadcrumb">
				<li><a href="/question-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" class="form-horizontal" enctype="multipart/form-data">

			<input type="hidden" formControlName="question_id" value="{{details._id}}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="answer">Question<span class="text-danger">*</span></label>
				<div class="col-sm-8"><span class="form-control fields"> {{details.question}}</span></div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="answer">Answer<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="answer" class="form-control fields" formControlName="answer"  required >
					<div *ngIf="dataForm.controls.answer.invalid && (dataForm.controls.answer.dirty || dataForm.controls.answer.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.answer.errors.required"> Answer is required.</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="price">Price<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="price" class="form-control fields" formControlName="price"  required >
					<div *ngIf="dataForm.controls.price.invalid && (dataForm.controls.price.dirty || dataForm.controls.price.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.price.errors.required"> Price is required.</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="choice">Choice <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" formControlName="choice" >
						<option value="">--Please select Choice--</option>
						<option value="Good">Good</option>
						<option value="Better">Better</option>
						<option value="Best">Best</option>
					</select>
					<div *ngIf="dataForm.controls.choice.invalid && (dataForm.controls.choice.dirty || dataForm.controls.choice.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.choice.errors.required"> Choice is required.</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/question-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>