<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Change Password</h1>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="userForm" #formDir="ngForm" novalidate>

        <div class="form-group">
              <label for="password">Old Password</label>
              <input id="old_password" type="password" class="form-control" formControlName="old_password" placeholder="Enter Old Password" required >

              <div *ngIf="userForm.controls.old_password.invalid && (userForm.controls.old_password.dirty || userForm.controls.old_password.touched)" class="text-danger">
                <div *ngIf="userForm.controls.old_password.errors.required"> Old Password is required.</div>
                <div *ngIf="userForm.controls.old_password.errors.minlength"> Old Password must be at least 6 characters long.</div>          
              </div>
        </div>

        <div class="form-group">
              <label for="password">New Password</label>
              <input id="password" type="password" class="form-control" formControlName="password" placeholder="Enter Password" required >

              <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
                <div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
                <div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
              </div>
        </div>

        <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input id="confirm_password" type="password" class="form-control" formControlName="confirm_password" placeholder="Re-enter Password" required >

              <div *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)" class="text-danger">
                <div *ngIf="userForm.controls.confirm_password.errors.required"> Confirm Password is required.</div>
                <div *ngIf="userForm.controls.confirm_password.errors.minlength"> Confirm Password must be at least 6 characters long.</div> 
              </div>
              <div *ngIf="userForm.controls.confirm_password.touched && userForm.hasError('validConfirmPassword')" class="text-danger">
                <div *ngIf="userForm.hasError('validConfirmPassword')">Confirm Password does not match.</div>
              </div>
        </div>                    
          
        <div class="form-group">
            <button class="btn btn-primary"  (click)="submitForm()">Submit</button>
        </div>
  </form>
		</div>
	</section>
</div>