<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Stage Intro Details</h1>
      <ol class="breadcrumb">
				<li><a routerLink="/stage-intro" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<div class="maindiv box box-primary">
			<!-- /.box-header -->
			<div class="row pad">
				<div class="col-md-12 col-sm-6">
					<table class="table table-striped table-responsive">
						<thead>
							<tr style="background-color:#3c3f44; color:white;">
								<th width="30%" height="50%" class="" colspan="2" style="font-size:14px;">Stage Intro Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th width="30%" class="text-right txtFntSze">Title:</th>
								<td data-th="Page Name" class="txtFntSze">{{data.title}}</td>
							</tr>
							<tr>
								<th width="30%" class="text-right txtFntSze">Stage Number:</th>
								<td data-th="Page Title" class="txtFntSze">Stage {{data.stage}}</td>
							</tr>
							<tr>
							  <th width="30%" class="text-right txtFntSze">Video :</th>
								<td data-th="Page Description" class="txtFntSze">
									{{data.video }}
								</td>
				              </tr>
				            <tr>
							  <th width="30%" class="text-right txtFntSze">Research Details:</th>
								<td data-th="Meta Title" class="txtFntSze"  [innerHTML]="data.researchCenter">
								</td>
				            </tr>
				            <tr>
							  <th width="30%" class="text-right txtFntSze">Strategy Detail:</th>
								<td data-th="Meta Description" class="txtFntSze"  [innerHTML]="data.strategyDetail">
								</td>
              				</tr>
            
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>