<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Stage Intro</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/email-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" [formGroup]="ediTemplateForm" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm">
			
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" placeholder="Enter Title" required>
						<div *ngIf="ediTemplateForm.controls.title.invalid && (ediTemplateForm.controls.title.dirty || ediTemplateForm.controls.title.touched)" class="text-danger">
							<div *ngIf="ediTemplateForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="ediTemplateForm.controls.title.errors.minlength">Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="subject">Subject <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="subject" class="form-control fields" formControlName="subject" placeholder="Enter Subject" required>
						<div *ngIf="ediTemplateForm.controls.subject.invalid && (ediTemplateForm.controls.subject.dirty || ediTemplateForm.controls.subject.touched)" class="text-danger">
							<div *ngIf="ediTemplateForm.controls.subject.errors.required"> Subject is required.</div>
							<div *ngIf="ediTemplateForm.controls.subject.errors.minlength">Subject must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="body">Body<span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="body"  [editor]="editor" [data]="data"  formControlName="body" required placeholder="Enter Body" ></ckeditor>

						<div *ngIf="ediTemplateForm.controls.body.invalid && (ediTemplateForm.controls.body.dirty || ediTemplateForm.controls.body.touched)" class="text-danger">
							<div *ngIf="ediTemplateForm.controls.body.errors.required"> body is required.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary">Submit</button>&nbsp;
						<a routerLink="/email-manager" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>