<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
  <section class="content container-fluid">
    <section class="content-header"><h1 class="pagehead">Email Template Manager</h1></section>

    <!-- Main content -->
    <section class="content">
      <div class="maindiv box box-primary">
        <div class="listheader">
          <a class="btn btn-primary btn-md" routerLink='/email-manager/add'>Add</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example" class="table table-bordered table-striped" >
            <thead>
            <tr>
              <th>Title</th>
              <th>Slug</th>
              <th>Subject</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detail of details;let i = index">
              <td>{{detail.title}}</td>
              <td>{{detail.slug}}</td>
              <td>{{detail.subject}}</td>
              <td>
                <a routerLink="/email-manager/edit/{{detail._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
                <a href="/email-manager/view/{{detail._id}}" class="btn btn-xs btn-primary">View</a>&nbsp;&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
</div>
