<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Stage Intro</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/stage-intro" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" [formGroup]="editUserForm" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm">

				<input type="hidden" formControlName="gameId">
			
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Stage Number <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select  formControlName="stage" class="form-control fields" required>
							<option value="">Please Select</option>
							<option *ngFor="let i of [1,2,3,4]" value="{{i}}">Stage {{i}}</option>
						</select>
						
						<div *ngIf="editUserForm.controls.stage.invalid && (editUserForm.controls.stage.dirty || editUserForm.controls.stage.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.stage.errors.required"> Stage is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="video">Video URL <span class="text-danger">*</span></label>
					<div class="col-sm-8">
		          		<input id="video" class="form-control fields" formControlName="video" placeholder="Enter Video">
						<div *ngIf="editUserForm.controls.video.invalid && (editUserForm.controls.video.dirty || editUserForm.controls.video.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.video.errors.required"> Video is required.</div>
							<div *ngIf="editUserForm.controls.video.errors.minlength"> Video must be at least 4 characters long.</div>
		          		</div>
				        <div *ngIf="editUserForm.controls.video.touched && editUserForm.hasError('validVideoURL')">
				            <div *ngIf="editUserForm.get('websiteUrl').errors.validVideoURL">youtube video url is wrong.</div>
				         </div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" placeholder="Enter Title" required>
						<div *ngIf="editUserForm.controls.title.invalid && (editUserForm.controls.title.dirty || editUserForm.controls.title.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="editUserForm.controls.title.errors.minlength">Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="saving_amount">Per Minute Saving Amount </label>
					<div class="col-sm-8">
						<input id="saving_amount" class="form-control fields" formControlName="saving_amount" placeholder="Per Minute Saving Amount">
						<div *ngIf="editUserForm.controls.saving_amount.invalid && (editUserForm.controls.saving_amount.dirty || editUserForm.controls.saving_amount.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.saving_amount.errors.required"> Per Minute Saving Amount is required.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="description">Research Description <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="description"  [editor]="editor" formControlName="researchCenter" required placeholder="Enter Research Description" ></ckeditor>

						<div *ngIf="editUserForm.controls.researchCenter.invalid && (editUserForm.controls.researchCenter.dirty || editUserForm.controls.researchCenter.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.researchCenter.errors.required"> Description is required.</div>
							<div *ngIf="editUserForm.controls.researchCenter.errors.minlength"> Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="strategyDetail">Strategy Detail <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="strategyDetail"  [editor]="editor" formControlName="strategyDetail" required placeholder="Enter Research Description" ></ckeditor>

						<div *ngIf="editUserForm.controls.strategyDetail.invalid && (editUserForm.controls.strategyDetail.dirty || editUserForm.controls.strategyDetail.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.strategyDetail.errors.required"> Description is required.</div>
							<div *ngIf="editUserForm.controls.strategyDetail.errors.minlength"> Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/cms-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>