<div class="wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a href="javascript:void(0)"><b>TheLisa Movement</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
  
      <form [formGroup]="loginForm" #formDir="ngForm" >
        <div class="form-group has-feedback">
          <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email">
          <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)" class="text-danger">
            <div *ngIf="loginForm.controls.email.errors.required"> Email is required.</div>
            <div *ngIf="loginForm.controls.email.errors.minlength"> Email must be at least 4 characters long.</div>          
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
          <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" class="text-danger">
            <div *ngIf="loginForm.controls.password.errors.required"> Password is required.</div>
            <div *ngIf="loginForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="loginForm.invalid" (click)="login()">SignIn</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  </div>