<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Inspector</h1>
			<ol class="breadcrumb">
				<li><a href="/inspector-messenger-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="full_name">Full Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="full_name" class="form-control fields" formControlName="full_name"  required >
					<div *ngIf="dataForm.controls.full_name.invalid && (dataForm.controls.full_name.dirty || dataForm.controls.full_name.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.full_name.errors.required"> Full Name is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="file">Animation File <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
					<div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
						<div *ngIf="f.file.errors.required">File is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="designation">Designation <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="designation" class="form-control fields" formControlName="designation"  required >
					<div *ngIf="dataForm.controls.designation.invalid && (dataForm.controls.designation.dirty || dataForm.controls.designation.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.designation.errors.required"> Designation is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="bio">Bio <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ckeditor id="bio"  [editor]="editor" [data]="data"  formControlName="bio"></ckeditor>
					<div *ngIf="dataForm.controls.bio.invalid && (dataForm.controls.bio.dirty || dataForm.controls.bio.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.bio.errors.required"> bio is required.</div>
					</div>
				</div>
			</div>

			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/inspector-messenger-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>