<style>
	.ngx-datepicker-container[_ngcontent-c4] .ngx-datepicker-calendar-container[_ngcontent-c4] {
	  position: absolute;
	  width: 300px;
	  background: #613d3d;
	  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
	  box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
	  border: 1px solid #dfe3e9;
	  border-radius: 4px;
  }
  </style>
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Content</h1>
			<ol class="breadcrumb">
				<li><a href="/content-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Page Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="page_name" class="form-control fields" formControlName="page_name"  required >
					<div *ngIf="dataForm.controls.page_name.invalid && (dataForm.controls.page_name.dirty || dataForm.controls.page_name.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.page_name.errors.required"> Page name is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="start_date">Start Date <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ng-datepicker [(ngModel)]="humanStartDate" type="date" formControlName="start_date" required></ng-datepicker>
					<div *ngIf="dataForm.controls.start_date.invalid && (dataForm.controls.start_date.dirty || dataForm.controls.start_date.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.start_date.errors.required"> Start date is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="end_date">End Date <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ng-datepicker [(ngModel)]="humanEndDate" type="date" formControlName="end_date" required></ng-datepicker>
					<div *ngIf="dataForm.controls.end_date.invalid && (dataForm.controls.end_date.dirty || dataForm.controls.end_date.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.end_date.errors.required"> End date is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="main_page_title">Main Page Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="main_page_title" id="text" type="text" class="form-control" required>
					<div *ngIf="dataForm.controls.main_page_title.invalid && (dataForm.controls.main_page_title.dirty || dataForm.controls.main_page_title.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.main_page_title.errors.required">Main page is required.</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="main_page_subtitle">Main Page Subtitle <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="main_page_subtitle" id="text" type="text" class="form-control" required>
					<div *ngIf="dataForm.controls.main_page_subtitle.invalid && (dataForm.controls.main_page_subtitle.dirty || dataForm.controls.main_page_subtitle.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.main_page_subtitle.errors.required"> Subtitle is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/content-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>