<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Placement Category</h1>
			<ol class="breadcrumb"><li><a href="/placement-category" class="btn btn-success btn-sm">Back</a></li></ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name </label>
					<div class="col-sm-8">
						<input id="name" class="form-control fields" formControlName="name" >
						<div *ngIf="dataForm.controls.name.invalid && (dataForm.controls.name.dirty || dataForm.controls.name.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.name.errors.required"> Name is required.</div>
							<div *ngIf="dataForm.controls.name.errors.minlength"> Name must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/placement-category" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>