<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Placement Manager</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/placements-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2" for="category">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" name="category" [(ngModel)]="userForm.category" #category="ngModel">
						<option value="">--Please select category--</option>
						<option *ngFor="let category of this.categories" value={{category._id}}>
						{{category.name}}
						</option>
					</select>
					<div *ngIf="f.submitted && category.invalid" class="text-danger" >
					<div *ngIf="category.errors.required">issue is required</div>
					</div>
				</div>
				</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="choice">Choice</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="choice" [(ngModel)]="userForm.choice"  #choice="ngModel" />
					<div *ngIf="f.submitted && choice.invalid" class="text-danger" >
						<div *ngIf="choice.errors.required">choice is required</div>
					</div>
				</div>
      </div>
      <div class="form-group">
				<label class="control-label col-sm-2" for="answer">Answer </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="answer" [(ngModel)]="userForm.answer"  #answer="ngModel" />
					<div *ngIf="f.submitted && answer.invalid" class="text-danger" >
						<div *ngIf="answer.errors.required">Answer is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/placements-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>