<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Logo</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/logo-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				
				<label class="control-label col-sm-2" for="logo">Logo <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="file" name="logo" (change)="onFileChange($event)" (ngModel)="userForm.logo" observeFiles />
				</div>
			</div>
			<div class="form-group" >
				<label class="control-label col-sm-2" for="file">&nbsp; </label>
				<div class="col-sm-8"*ngIf="this.userForm.logo != undefined">
					<img width="50" height="50" src="{{env.serverUrl+env.uploadsLogo+this.userForm.logo}}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="company">Company <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="company" [(ngModel)]="userForm.company" placeholder="Enter Company" #company="ngModel" required />
					<div *ngIf="f.submitted && company.invalid" class="text-danger" >
						<div *ngIf="company.errors.required">Company is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="focus">Focus </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="focus" [(ngModel)]="userForm.focus" placeholder="Enter focus" #focus="ngModel" />
					<div *ngIf="f.submitted && focus.invalid" class="text-danger" >
						<div *ngIf="focus.errors.required">focus is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="employee">Employee</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="employee" [(ngModel)]="userForm.employee" placeholder="Enter employee" #employee="ngModel" />
					<div *ngIf="f.submitted && employee.invalid" class="text-danger" >
						<div *ngIf="employee.errors.required">employee is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="reach">Reach</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="reach" [(ngModel)]="userForm.reach" placeholder="Enter reach" #reach="ngModel"  />
					<div *ngIf="f.submitted && reach.invalid" class="text-danger" >
						<div *ngIf="reach.errors.required">reach is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="link">Link <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="link" [(ngModel)]="userForm.link" placeholder="Enter Link" #link="ngModel" required />
					<div *ngIf="f.submitted && link.invalid" class="text-danger" >
						<div *ngIf="link.errors.required">Link is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/logo-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>