<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Edit Building Manager</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/building-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
						<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
						<div class="col-sm-8">
				<input type="text" class="form-control" name="name" [(ngModel)]="dataForm.name"  #name="ngModel" required />
				<div *ngIf="f.submitted && name.invalid" class="text-danger" >
					<div *ngIf="name.errors.required">Name is required</div>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="file">Building Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="file" name="file" (change)="onFileChange($event)" (ngModel)="dataForm.file" observeFiles />
				</div>
			</div>

			<div class="form-group" >
				<label class="control-label col-sm-2" for="file">&nbsp; </label>
				<div class="col-sm-8"*ngIf="this.dataForm.file != undefined">
					<img width="50" height="50" src="{{env.serverUrl+env.uploadsBuilding+this.dataForm.file}}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Description <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ckeditor  name="description" [editor]="editor" [data]="data" placeholder="Enter Description" [(ngModel)]="dataForm.description" #description="ngModel" required></ckeditor>

					<div *ngIf="f.submitted && description.invalid" class="text-danger" >
						<div *ngIf="description.errors.required">Description is required</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/building-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>