<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
<section class="content container-fluid">
  <section class="content-header"><h1 class="pagehead">Stage Intro Manager</h1></section>

  <!-- Main content -->
  <section class="content">
    <div class="maindiv box box-primary">
      <div class="listheader">
        <!-- <a class="btn btn-primary btn-md" routerLink='/research-center/add' >Add</a> -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="table" class="table table-bordered table-striped" >
          <thead>
          <tr>
            <th>Title</th>
            <th>Stage Number</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of this.details;let i = index">
            <td>{{this.detail.title}}</td>
            <td>Stage {{this.detail.stage}}</td>
            <td>
              <a routerLink="/stage/research-center/edit/{{this.detail._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
              <a href="/stage/research-center/view/{{this.detail._id}}" class="btn btn-xs btn-primary">View</a>&nbsp;&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

</div>
