<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Cms Details</h1>
      <ol class="breadcrumb">
				<li><a routerLink="/cms-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<div class="maindiv box box-primary">
			<!-- /.box-header -->
			<div class="row pad">
				<div class="col-md-12 col-sm-6">
					<table class="table table-striped table-responsive">
						<thead>
							<tr style="background-color:#3c3f44; color:white;">
								<th width="30%" height="50%" class="" colspan="2" style="font-size:14px;">CMS Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th width="30%" class="text-right txtFntSze">Page Name:</th>
								<td data-th="Page Name" class="txtFntSze">{{data.page_name}}</td>
							</tr>
							<tr>
								<th width="30%" class="text-right txtFntSze">Page Title:</th>
								<td data-th="Page Title" class="txtFntSze">{{data.page_title}}</td>
							</tr>
							<tr>
							  <th width="30%" class="text-right txtFntSze">Page Description:</th>
								<td data-th="Page Description" class="txtFntSze">
									<div *ngIf="this.data" [innerHTML]="data.page_description | safeHtml"></div> 
								</td>
              </tr>
              <tr>
							  <th width="30%" class="text-right txtFntSze">Meta Title:</th>
								<td data-th="Meta Title" class="txtFntSze">{{data.meta_title}}
								</td>
              </tr>
              <tr>
							  <th width="30%" class="text-right txtFntSze">Meta Description:</th>
								<td data-th="Meta Description" class="txtFntSze">{{data.meta_description}}
								</td>
              </tr>
              <tr>
							  <th width="30%" class="text-right txtFntSze">Meta Keywords:</th>
								<td data-th="Meta Keywords" class="txtFntSze">{{data.meta_keywords}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>