<div *ngIf="this.currentUser !== null">
<app-header></app-header>
<app-sidebar></app-sidebar>	
<router-outlet></router-outlet>
<app-footer></app-footer>

</div>

<div *ngIf="this.currentUser==null"> 
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>