<aside class="main-sidebar">
  
  <section class="sidebar" style="height: auto;">&nbsp;
    <ul class="sidebar-menu tree" data-widget="tree">
      <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i><span>Dashbord</span></a></li>
      <li class="treeview" style="height: auto;">
        <a href="javascript:void(0)">
          <i class="fa fa-user"></i> <span>User Manager</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" [ngStyle]="{'display':this.isLoginRoute === 'users' ? 'block' : 'none' }" >
          <li routerLinkActive="active"><a routerLink="/users/2"><i class="fa fa-circle-o"></i> Team</a></li>
          <li routerLinkActive="active"><a routerLink="/users/3"><i class="fa fa-circle-o"></i> Advisor</a></li>
          <li routerLinkActive="active"><a routerLink="/users/4"><i class="fa fa-circle-o"></i> Student/Employee</a></li>
        </ul>
      </li>
      <li routerLinkActive="active"><a routerLink="/logo-manager"><i class="fa fa-question"></i><span>Logo & company Manager</span></a></li>
      <li routerLinkActive="active"><a routerLink="/sponsers"><i class="fa fa-pagelines"></i><span>Sponser Manager</span></a></li>
      <li class="treeview" style="height: auto;">
        <a href="javascript:void(0)">
          <i class="fa fa-th"></i> <span>Content Manager</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i> 
          </span>
        </a>
        <ul class="treeview-menu" [ngStyle]="{'display':this.isLoginRoute == 'content-manager' ? 'block' : 'none' }">
          <li routerLinkActive="active"><a routerLink="/content-manager/edit/game-settings"><i class="fa fa-circle-o"></i> Game settings</a></li>
          <li routerLinkActive="active"><a routerLink="/content-manager/edit/main-page"><i class="fa fa-circle-o"></i> Opening Page Settings</a></li>
        </ul>
      </li>
      <li routerLinkActive="active"><a routerLink="/cms-manager"><i class="fa fa-pagelines"></i><span>CMS Manager</span></a></li>

      <li class="treeview" style="height: auto;">
        <a href="javascript:void(0)"> <i class="fa fa-user"></i> <span>Stage Manager</span>
          <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" [ngStyle]="{'display':this.isLoginRoute === 'stage' ? 'block' : 'none' }" >
          <li routerLinkActive="active"><a routerLink="/stage/stage-intro"><i class="fa fa-pagelines"></i><span>Stage Intro Manager</span></a></li>
          <li routerLinkActive="active"><a routerLink="/stage/research-center"><i class="fa fa-pagelines"></i><span>Reseach center</span></a></li>
          
        </ul>
      </li>

      <li class="treeview" style="height: auto;">
        <a href="javascript:void(0)"> <i class="fa fa-user"></i> <span>Placement Manager</span>
          <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu" [ngStyle]="{'display':this.isLoginRoute === 'placements-manager' ? 'block' : 'none' }" >
          <li routerLinkActive="active"><a routerLink="/placements-manager"><i class="fa fa-pagelines"></i><span>Placements</span></a></li>
          <li routerLinkActive="active"><a routerLink="/placement-category"><i class="fa fa-pagelines"></i><span>Placement Categories</span></a></li>
          
        </ul>
      </li>

      <li routerLinkActive="active"><a routerLink="/game"><i class="fa fa-pagelines"></i><span>Game Manager</span></a></li>
      <li routerLinkActive="active"><a routerLink="/game-videos"><i class="fa fa-pagelines"></i><span>Game Videos</span></a></li>
      <li routerLinkActive="active"><a routerLink="/contractor-manager"><i class="fa fa-pagelines"></i><span>Contractor Manager</span></a></li>
      <!--
      <li routerLinkActive="active"><a routerLink="/building-manager"><i class="fa fa-pagelines"></i><span>Building Manager</span></a></li>
      <li routerLinkActive="active"><a routerLink="/inspector-messenger-manager"><i class="fa fa-pagelines"></i><span>Inspector & Issue Messanger</span></a></li>
    -->
      <li routerLinkActive="active"><a routerLink="/question-manager"><i class="fa fa-pagelines"></i><span>Question Manager</span></a></li>
  
      <li routerLinkActive="active"><a routerLink="/email-manager"><i class="fa fa-pagelines"></i><span>Email Template</span></a></li>
      
      <!-- <li class="treeview" style="height: auto;">
        <a href="javascript:void(0)">
          <i class="fa fa-th"></i> <span>Settings Manager</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" [ngStyle]="{'display':this.isLoginRoute === 'settings' ? 'block' : 'none' }" >
          <li routerLinkActive="active"><a routerLink="/settings/game-settings"><i class="fa fa-circle-o"></i> Game settings</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
</aside>