<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Question Details</h1>
      <ol class="breadcrumb">
				<li><a href="/question-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<div class="maindiv box box-primary">
			<!-- /.box-header -->
			<div class="row pad">
				<div class="col-12 col-md-12">
					<table class="table table-striped table-responsive">
						<thead>
							<tr style="background-color:#3c3f44; color:white;">
								<th height="50%" class="" colspan="2" style="font-size:14px;">Question Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="text-right txtFntSze">Question:</th>
								<td data-th="Question" class="txtFntSze">{{data.question}}</td>
							</tr>
							<tr>
								<th class="text-right txtFntSze">Type:</th>
								<td data-th="Title" class="txtFntSze">{{data.title}}</td>
							</tr>
							<tr>
							  	<th class="text-right txtFntSze">Stage:</th>
								<td data-th="Stage" class="txtFntSze">{{data.stage}}</td>
			              	</tr>
			              	<tr style="background-color:#3c3f44; color:white;">
								<th height="50%" colspan="2" style="font-size:14px;">Answer Details</th>
							</tr>
							<ng-container *ngFor="let ans of answers">
								<tr>
								  	<th class="text-right txtFntSze">Answer:</th>
									<td data-th="Stage" class="txtFntSze">{{ans.answer}}</td>
				              	</tr>
				              	<tr>
								  	<th class="text-right txtFntSze">Type:</th>
									<td data-th="Stage" class="txtFntSze">{{ans.choice}}</td>
				              	</tr>
				            </ng-container>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>