<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Sponser</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/sponsers" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			
			<form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
				<input type="hidden" formControlName="_id">

			<div class="form-group">
				
				<label class="control-label col-sm-2" for="logo">Logo <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)"/>
					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="name" class="form-control fields" formControlName="name" placeholder="Enter Name" required >
					<div *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched)" class="text-danger">
						<div *ngIf="editForm.controls.name.errors.required"> Name is required.</div>
						<div *ngIf="editForm.controls.name.errors.minlength"> Name must be at least 4 characters long.</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="stage">Stage <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control fields" formControlName="stage">
						<option value="">--Please Select--</option>
						
						<ng-container *ngFor="let n of [1,2,3,4]">
							<option  value="{{n}}">Stage {{n}}</option>
						</ng-container>
						<option value="5">Footer</option>
					</select>
				
					<div *ngIf="editForm.controls.stage.invalid && (editForm.controls.stage.dirty || editForm.controls.stage.touched)" class="text-danger">
						<div *ngIf="editForm.controls.stage.errors.required"> Stage is required.</div>
						
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/sponsers" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>