
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Sponser</h1>
			<ol class="breadcrumb">
				<li><a href="/sponsers" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Logo <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
					<div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
						<div *ngIf="f.file.errors.required">File is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="name" class="form-control fields" formControlName="name" placeholder="Enter Name" required >
					<div *ngIf="dataForm.controls.name.invalid && (dataForm.controls.name.dirty || dataForm.controls.name.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.name.errors.required"> Name is required.</div>
						<div *ngIf="dataForm.controls.name.errors.minlength"> Name must be at least 4 characters long.</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="stage">Stage <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select formControlName="stage" class="form-control fields">
						<option value="">--Please Select--</option>
						
						<ng-container *ngFor="let n of [1,2,3,4]">
							<option  value="{{n}}">Stage {{n}}</option>
						</ng-container>
						<option value="5">Footer</option>
					</select>
				
					<div *ngIf="dataForm.controls.stage.invalid && (dataForm.controls.stage.dirty || dataForm.controls.stage.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.stage.errors.required"> Stage is required.</div>
						
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/sponsers" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>