
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Logo</h1>
			<ol class="breadcrumb">
				<li><a href="/logo-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="page_name">Logo <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
					<div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
						<div *ngIf="f.file.errors.required">File is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="company">Company <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="company" class="form-control fields" formControlName="company" placeholder="Enter Company" required >
					<div *ngIf="dataForm.controls.company.invalid && (dataForm.controls.company.dirty || dataForm.controls.company.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.company.errors.required"> Company is required.</div>
						<div *ngIf="dataForm.controls.company.errors.minlength"> Company must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="focus">focus <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="focus" class="form-control fields" formControlName="focus" placeholder="Enter focus" required >
					<div *ngIf="dataForm.controls.focus.invalid && (dataForm.controls.focus.dirty || dataForm.controls.focus.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.focus.errors.required"> focus is required.</div>
						<div *ngIf="dataForm.controls.focus.errors.minlength"> focus must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="employee">employee <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="employee" class="form-control fields" formControlName="employee" placeholder="Enter employee" required >
					<div *ngIf="dataForm.controls.employee.invalid && (dataForm.controls.employee.dirty || dataForm.controls.employee.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.employee.errors.required"> employee is required.</div>
						<div *ngIf="dataForm.controls.employee.errors.minlength"> employee must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="reach">reach <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="reach" class="form-control fields" formControlName="reach" placeholder="Enter reach" required >
					<div *ngIf="dataForm.controls.reach.invalid && (dataForm.controls.reach.dirty || dataForm.controls.reach.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.reach.errors.required"> reach is required.</div>
						<div *ngIf="dataForm.controls.reach.errors.minlength"> reach must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="link">Link <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="link" class="form-control fields" formControlName="link" placeholder="Enter Link" required >
					<div *ngIf="dataForm.controls.link.invalid && (dataForm.controls.link.dirty || dataForm.controls.link.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.link.errors.required"> Link is required.</div>
						<div *ngIf="dataForm.controls.link.errors.minlength"> Link must be at least 4 characters long.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/logo-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>