<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
<section class="content container-fluid">
  <section class="content-header"><h1 class="pagehead">User Management</h1></section>

  <!-- Main content -->
  <section class="content">
    
        <div class="maindiv box box-primary">
          <div class="listheader"><a class="btn btn-primary btn-md" routerLink='/users/add/{{this.role_id}}' >Add User</a></div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="table" class="table table-bordered table-striped" >
              <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Team Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let users of this.user;let i = index">
                <td>{{this.users.first_name}}</td>
                <td>{{this.users.last_name}}</td>
                <td>{{this.users.email}}</td>
                <td >
                  <ng-container *ngIf="this.users.team_id">
                    {{this.users.team_id.team_name}}
                  </ng-container>
                </td>
                <td>
                  <a routerLink="/users/edit/{{this.users._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
                  <a href="javascript:void(0)" (click)="delete(this.users._id)" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
                  <a href="/users/view/{{this.users._id}}" class="btn btn-xs btn-primary">View</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
  </section>
</section>

</div>
