<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Game</h1>
			<ol class="breadcrumb"><li><a href="/game" class="btn btn-success btn-sm">Back</a></li></ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal">

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title </label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" >
						<div *ngIf="dataForm.controls.title.invalid && (dataForm.controls.title.dirty || dataForm.controls.title.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="dataForm.controls.title.errors.minlength"> Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="budget">Budget </label>
					<div class="col-sm-8">
						<input id="budget" class="form-control fields" formControlName="budget" placeholder="Budget">
						<div *ngIf="dataForm.controls.budget.invalid && (dataForm.controls.budget.dirty || dataForm.controls.budget.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.budget.errors.required"> Budget is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="floor">Floor </label>
					<div class="col-sm-8">
						<input id="floor" class="form-control fields" formControlName="floor" placeholder="Floor">
						<div *ngIf="dataForm.controls.floor.invalid && (dataForm.controls.floor.dirty || dataForm.controls.floor.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.floor.errors.required"> Floor is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="saving_amount">Per Minute Saving Amount </label>
					<div class="col-sm-8">
						<input id="saving_amount" class="form-control fields" formControlName="saving_amount" placeholder="Per Minute Saving Amount">
						<div *ngIf="dataForm.controls.saving_amount.invalid && (dataForm.controls.saving_amount.dirty || dataForm.controls.saving_amount.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.saving_amount.errors.required"> Per Minute Saving Amount is required.</div>
						</div>
					</div>
				</div>
    			<div class="form-group">
					<label class="control-label col-sm-2" for="description">Short Description</label>
					<div class="col-sm-8">
						<input id="description" class="form-control fields" formControlName="description" required placeholder="Description">
						<div *ngIf="dataForm.controls.description.invalid && (dataForm.controls.description.dirty || dataForm.controls.description.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.description.errors.required">Description is required.</div>
							<div *ngIf="dataForm.controls.description.errors.minlength"> Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/game" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>