<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit User</h1>
			<ol class="breadcrumb">
				<li><a href="/users/{{userForm.role_id}}" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2" for="first_name">First Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="first_name" [(ngModel)]="userForm.first_name" placeholder="Enter Last Name" #first_name="ngModel" required />
					<div *ngIf="f.submitted && first_name.invalid" class="text-danger" >
						<div *ngIf="first_name.errors.required">First Name is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="last_name">Last Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="last_name" [(ngModel)]="userForm.last_name" placeholder="Enter Last Name" #last_name="ngModel" required />
					<div *ngIf="f.submitted && last_name.invalid" class="text-danger" >
						<div *ngIf="last_name.errors.required">Last Name is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="email" [(ngModel)]="userForm.email" placeholder="Enter Email" #email="ngModel" required />
					<div *ngIf="f.submitted && email.invalid" class="text-danger" >
						<div *ngIf="email.errors.required">Email is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="team_name">Team Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="team_name" [(ngModel)]="userForm.team_name" placeholder="Enter team_name" #team_name="ngModel" required />
					<div *ngIf="f.submitted && team_name.invalid" class="text-danger" >
						<div *ngIf="team_name.errors.required">Team is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/users/{{userForm.role_id}}" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>