<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Update Profile</h1>
			<ol class="breadcrumb">
				<li><a href="/changepassword" class="btn btn-success btn-sm">Change Password</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>

				<div class="form-group">
					<label for="first_name">First Name <span class="text-danger">*</span></label>
					<!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
					<input type="text" class="form-control" name="first_name" [(ngModel)]="userForm.first_name" #first_name="ngModel" required />
					<div *ngIf="f.submitted && first_name.invalid" class="text-danger" >
						<div *ngIf="first_name.errors.required">First Name is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="last_name">Last Name <span class="text-danger">*</span></label>
					<!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
					<input type="text" class="form-control" name="last_name" [(ngModel)]="userForm.last_name" #last_name="ngModel" required />
					<div *ngIf="f.submitted && last_name.invalid" class="text-danger" >
						<div *ngIf="last_name.errors.required">Laset Name is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email <span class="text-danger">*</span></label>
					<input type="text" class="form-control" name="email" [(ngModel)]="userForm.email" #email="ngModel" required email disabled />
					<div *ngIf="f.submitted && email.invalid" class="text-danger">
						<div *ngIf="email.errors.required">Email is required</div>
						<div *ngIf="email.errors.email">Email must be a valid email address</div>
					</div>
				</div>										  
				
				<div class="form-group">
					<button class="btn btn-primary">Submit</button>
				</div>
		</form>
		</div>
	</section>
</div>