<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">Edit Building Manager</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/building-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>

      <input type="hidden" name="_id" [(ngModel)]="dataForm._id">
			
      <div class="form-group">
        <label class="control-label col-sm-2" for="title">Question Title <span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="title" [(ngModel)]="dataForm.title" #title="ngModel">
            <option value="">--Please select--</option>
            <option value="Issue Question">Issue Question</option>
            <option value="Inspector Question">Inspector Question</option>
          </select>
          <div *ngIf="f.submitted && title.invalid" class="text-danger">
            <div *ngIf="title.errors.required"> Title is required.</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="question">Question <span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="question" [(ngModel)]="dataForm.question"  #question="ngModel">
          
          <div *ngIf="f.submitted && question.invalid" class="text-danger">
            <div *ngIf="question.errors.required"> Question is required.</div>
          </div>
        </div>
      </div>
      <!--
      <div class="form-group">
        <label class="control-label col-sm-2" for="building">Building <span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="building" [(ngModel)]="dataForm.building[0]" #building="ngModel">
                <option value="">--Please select building--</option>
                <option *ngFor="let building of this.buildingList" value={{building._id}}>
                {{building.name}}
                </option>
          </select>
          <div *ngIf="f.submitted && building.invalid" class="text-danger" >
            <div *ngIf="building.errors.required">building is required</div>
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <label class="control-label col-sm-2" for="stage">Stage <span class="text-danger">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="stage" [(ngModel)]="dataForm.stage" #stage="ngModel">
                <option value="">--Please select stage--</option>
                <option *ngFor="let stage of [3,4]" value={{stage}}> {{stage}}</option>
          </select>
          <div *ngIf="f.submitted && stage.invalid" class="text-danger" >
            <div *ngIf="stage.errors.required">stage is required</div>
          </div>
        </div>
      </div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/question-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>