<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<ng-container *ngIf="dataForm.slug == 'game-settings'">
				<h1 class="pagehead">Game Settings</h1>
			</ng-container>
			<ng-container *ngIf="dataForm.slug == 'main-page'">
				<h1 class="pagehead">Opening Page Settings</h1>
			</ng-container>
			<ol class="breadcrumb">
				<li><a routerLink="/content-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>


			<!-- Main Page setting start here -->	
			<ng-container *ngIf="dataForm.slug == 'game-settings'">
				<div class="form-group">
					<label class="control-label col-sm-2" for="start_date">Start Date <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<ng-datepicker [(ngModel)]="dataForm.start_date" type="date" name="start_date" required  #start_date="ngModel"></ng-datepicker>
						<div *ngIf="f.submitted && start_date.invalid" class="text-danger" >
							<div *ngIf="start_date.errors.required">start_date is required</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="end_date">End Date<span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<ng-datepicker [(ngModel)]="dataForm.end_date "type="date" name="end_date" required #end_date="ngModel" ></ng-datepicker>
						<div *ngIf="f.submitted && end_date.invalid" class="text-danger" >
							<div *ngIf="end_date.errors.required">End Date is required</div>
						</div>
					</div>
				</div>
			</ng-container>
			<!-- game setting Page setting finish here -->

			
			<!-- Main Page setting start here -->
			<ng-container *ngIf="dataForm.slug == 'main-page'">
				<div class="form-group">
					<label class="control-label col-sm-2" for="main_page_title">Main Page Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="main_page_title" [(ngModel)]="dataForm.main_page_title"  #main_page_title="ngModel" required />
						<div *ngIf="f.submitted && main_page_title.invalid" class="text-danger" >
							<div *ngIf="main_page_title.errors.required">Main Page Title is required</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="main_page_subtitle">Main Page Subtitle <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="main_page_subtitle" [(ngModel)]="dataForm.main_page_subtitle"  #main_page_subtitle="ngModel" />
						<div *ngIf="f.submitted && main_page_subtitle.invalid" class="text-danger" >
							<div *ngIf="main_page_subtitle.errors">Main Page Subtitle is required</div>
						</div>
					</div>
				</div>
			</ng-container>

			<!-- Main Page setting finish here -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Update</button>&nbsp;
				</div>
			</div>
			</form>
		</div>
	</section>
</div>