<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Stage Intro</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/stage/research-center" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" [formGroup]="editUserForm" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm">

				<input type="hidden" formControlName="gameId">
			
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Stage Number <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select  formControlName="stage" class="form-control fields" required>
							<option value="">Please Select</option>
							<option *ngFor="let i of [1,2,3,4]" value="{{i}}">Stage {{i}}</option>
						</select>
						
						<div *ngIf="editUserForm.controls.stage.invalid && (editUserForm.controls.stage.dirty || editUserForm.controls.stage.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.stage.errors.required"> Stage is required.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" placeholder="Enter Title" required>
						<div *ngIf="editUserForm.controls.title.invalid && (editUserForm.controls.title.dirty || editUserForm.controls.title.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="editUserForm.controls.title.errors.minlength">Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="description">Research Content <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="description"  [editor]="editor" formControlName="content" required placeholder="Enter Research Description" ></ckeditor>

						<div *ngIf="editUserForm.controls.content.invalid && (editUserForm.controls.content.dirty || editUserForm.controls.content.touched)" class="text-danger">
							<div *ngIf="editUserForm.controls.content.errors.required"> Description is required.</div>
							<div *ngIf="editUserForm.controls.content.errors.minlength"> Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary">Submit</button>&nbsp;
						<a routerLink="/stage/research-center" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>