<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Game Video</h1>
			<ol class="breadcrumb"><li><a href="/game-vidoes" class="btn btn-success btn-sm">Back</a></li></ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="video">Video URL <span class="text-danger">*</span></label>
					<div class="col-sm-8">
	        			<input id="video" class="form-control fields" formControlName="video" required >
						<div *ngIf="dataForm.controls.video.invalid && (dataForm.controls.video.dirty || dataForm.controls.video.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.video.errors.required"> Video is required.</div>
							<div *ngIf="dataForm.controls.video.errors.minlength"> Video must be at least 4 characters long.</div>
	          			</div>
	          			<div *ngIf="dataForm.controls.confirm_password.touched && dataForm.hasError('validVideoURL')">
	              			<div *ngIf="dataForm.get('websiteUrl').errors.validVideoURL">youtube video url is wrong.</div>
	          			</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="category">Category <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select  class='form-control' id="category" class="form-control fields" formControlName="category" required>
							<option value=''>Please Select</option>
							<option value='0'>Strategies to Win</option>
							<option value='1'>About the Building</option>
							<option value='2'>Inspectors</option>
							<option value='3'>Messengers</option>
						</select>
						<div *ngIf="dataForm.controls.category.invalid && (dataForm.controls.category.dirty || dataForm.controls.category.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.category.errors.required"> category is required.</div>
							<div *ngIf="dataForm.controls.category.errors.minlength"> category must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title </label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" >
						<div *ngIf="dataForm.controls.title.invalid && (dataForm.controls.title.dirty || dataForm.controls.title.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="dataForm.controls.title.errors.minlength"> Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
    			<div class="form-group">
					<label class="control-label col-sm-2" for="short_description">Short Description</label>
					<div class="col-sm-8">
						<input id="short_description" class="form-control fields" formControlName="short_description" required >
						<div *ngIf="dataForm.controls.short_description.invalid && (dataForm.controls.short_description.dirty || dataForm.controls.short_description.touched)" class="text-danger">
							<div *ngIf="dataForm.controls.short_description.errors.required"> short description is required.</div>
							<div *ngIf="dataForm.controls.short_description.errors.minlength"> short description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/game-videos" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>