
<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add Stage Intro</h1>
			<ol class="breadcrumb">
				<li><a href="/stage/research-center" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="userForm" #formDir="ngForm" class="form-horizontal">

				<div class="form-group">
					<label class="control-label col-sm-2" for="gameId">Select Game <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select formControlName="gameId" class="form-control fields" required>
							<option value="">Please Select</option>
							<option *ngFor="let detail of gameDetail" value="{{detail._id}}">{{detail.title}}</option>
						</select>
						
						<div *ngIf="userForm.controls.gameId.invalid && (userForm.controls.gameId.dirty || userForm.controls.gameId.touched)" class="text-danger">
							<div *ngIf="userForm.controls.gameId.errors.required"> Game Name is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Stage Number <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select formControlName="stage" class="form-control fields" required>
							<option value="">Please Select</option>
							<option *ngFor="let i of [1,2,3,4]" value="{{i}}">Stage {{i}}</option>
						</select>
						
						<div *ngIf="userForm.controls.stage.invalid && (userForm.controls.stage.dirty || userForm.controls.stage.touched)" class="text-danger">
							<div *ngIf="userForm.controls.stage.errors.required"> Stage is required.</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<input id="title" class="form-control fields" formControlName="title" placeholder="Title" required>
						<div *ngIf="userForm.controls.title.invalid && (userForm.controls.title.dirty || userForm.controls.title.touched)" class="text-danger">
							<div *ngIf="userForm.controls.title.errors.required"> Title is required.</div>
							<div *ngIf="userForm.controls.title.errors.minlength">Title must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="description">Research Description <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						
						<ckeditor id="description"  [editor]="editor" formControlName="content" placeholder="Enter Research Description" ></ckeditor>

						<div *ngIf="userForm.controls.content.invalid && (userForm.controls.content.dirty || userForm.controls.content.touched)" class="text-danger">
							<div *ngIf="userForm.controls.content.errors.required"> Description is required.</div>
							<div *ngIf="userForm.controls.content.errors.minlength"> Description must be at least 4 characters long.</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
						<a routerLink="/stage/research-center" class="btn btn-info">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>