/* You can add global styles to this file, and also import other style files */
div.maindiv {
    padding: 20px;
}
div.listheader {
    border-bottom: 2px solid #3c8dbc;
    padding-bottom: 10px;
}
section.content-header {
    margin: 0px -15px;
    padding: 0px 15px;
    margin-bottom: 20px;
    border-bottom: 3px solid #3c8dbc;
}
section.content-header>.breadcrumb>li>a {
    color: #FFF;
    margin-top: -20px;
}
h1.pagehead {
    margin: 0 0 20px 0;
}
