<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
      <h1 class="pagehead">User Details</h1>
      <ol class="breadcrumb">
				<li><a href="/users/{{data.role_id}}" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<div class="maindiv box box-primary">
			<!-- /.box-header -->
			<div class="row pad">
				<div class="col-md-12 col-sm-6">
					<table class="table table-striped table-responsive">
						<thead>
							<tr style="background-color:#3c3f44; color:white;">
								<th width="30%" height="50%" class="" colspan="2" style="font-size:14px;">Team User</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th width="30%" class="text-right txtFntSze">First Name:</th>
								<td data-th="Full Name" class="txtFntSze">{{data.first_name}}</td>
							</tr>
							<tr>
								<th width="30%" class="text-right txtFntSze">Last Name:</th>
								<td data-th="Email" class="txtFntSze">{{data.first_name}}</td>
							</tr>
							<tr>
							  <th width="30%" class="text-right txtFntSze">Email:</th>
								<td data-th="Email" class="txtFntSze">
									{{data.email }}
								</td>
              </tr>
              <tr>
							  <th width="30%" class="text-right txtFntSze">Team Name:</th>
								<td data-th="Phone Number" class="txtFntSze">{{data.team_name}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>