<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Game Videos</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/game-videos" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				
				<label class="control-label col-sm-2" for="logo">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
            <!-- <input type="text" class="form-control" name="category" [(ngModel)]="userForm.category"  #category="ngModel" required /> -->
              <select id="category" class="form-control fields" name="category" [(ngModel)]="userForm.category" #category="ngModel" required>
                <option value='0'>Strategies to Win</option>
                <option value='1'>About the Building</option>
                <option value='2'>Inspectors</option>
                <option value='3'>Messengers</option>
              </select>
            <div *ngIf="f.submitted && category.invalid" class="text-danger" >
              <div *ngIf="category.errors.required">category is required</div>
            </div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="video">Youtube URL <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="video" [(ngModel)]="userForm.video"  #video="ngModel" required />
					<div *ngIf="f.submitted && video.invalid" class="text-danger" >
						<div *ngIf="video.errors.required">video is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="title" [(ngModel)]="userForm.title"  #title="ngModel" />
					<div *ngIf="f.submitted && title.invalid" class="text-danger" >
						<div *ngIf="title.errors.required">title is required</div>
					</div>
				</div>
      </div>
      <div class="form-group">
				<label class="control-label col-sm-2" for="short_description">Short Description </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="short_description" [(ngModel)]="userForm.short_description"  #short_description="ngModel" />
					<div *ngIf="f.submitted && short_description.invalid" class="text-danger" >
						<div *ngIf="short_description.errors.required">Short Description is required</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/game-videos" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>