<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Question</h1>
			<ol class="breadcrumb">
				<li><a href="/question-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Question Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" formControlName="title" >
						<option value="">--Please select--</option>
						<option value="Issue Question">Issue Question</option>
						<option value="Inspector Question">Inspector Question</option>
					</select>
					<div *ngIf="dataForm.controls.title.invalid && (dataForm.controls.title.dirty || dataForm.controls.title.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.title.errors.required"> Title is required.</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="question">Question<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="question" class="form-control fields" formControlName="question"  required >
					<div *ngIf="dataForm.controls.question.invalid && (dataForm.controls.question.dirty || dataForm.controls.question.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.question.errors.required"> Question is required.</div>
					</div>
				</div>
			</div>
			<!--
			<div class="form-group">
				<label class="control-label col-sm-2" for="building">Building <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" formControlName="building" >
						<option value="">--Please select building--</option>
						<option *ngFor="let building of this.buildingList" value={{building._id}}>
							{{building.name}}
						</option>
					</select>
					<div *ngIf="dataForm.controls.building.invalid && (dataForm.controls.building.dirty || dataForm.controls.building.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.building.errors.required"> Building is required.</div>
					</div>
				</div>
			</div>
		-->
			<div class="form-group">
				<label class="control-label col-sm-2" for="stage">Stage <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" formControlName="stage" >
						<option value="">--Please select stage--</option>
						<option *ngFor="let i of [3,4]" value="{{i}}">Stage {{i}}</option>
					</select>
					<div *ngIf="dataForm.controls.stage.invalid && (dataForm.controls.stage.dirty || dataForm.controls.stage.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.stage.errors.required"> Stage is required.</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/question-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>