<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Edit Placement Category</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/game-videos" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="name" [(ngModel)]="userForm.name"  #name="ngModel" />
					<div *ngIf="f.submitted && name.invalid" class="text-danger" >
						<div *ngIf="name.errors.required">Name is required</div>
					</div>
				</div>
      </div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="/placement-category" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>