<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<div class="content-wrapper">
  <flash-messages></flash-messages>
<section class="content container-fluid">
  <section class="content-header"><h1 class="pagehead">Content Manager</h1></section>

  <!-- Main content -->
  <section class="content">
    
        <div class="maindiv box box-primary">
          <div class="listheader"><a class="btn btn-primary btn-md" routerLink='/content-manager/add' >Add Content</a></div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example" class="table table-bordered table-striped" >
              <thead>
              <tr>
                <th>Page Name</th>
                <th>Slug</th>
                <th>Created</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let detail of this.details;let i = index">
                <td>{{this.detail.page_name}}</td>
                <td>{{this.detail.slug}}</td>
                <td>{{this.detail.created_at}}</td>
                <td>
                  <a routerLink="/content-manager/edit/{{this.detail._id}}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
                  <a href="javascript:void(0)" (click)="delete(this.detail._id)" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
  </section>
</section>

</div>
