<div class="content-wrapper">
	<flash-messages></flash-messages>
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Add New Contractor</h1>
			<ol class="breadcrumb">
				<li><a href="/contractor-manager" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">
			<form [formGroup]="dataForm" #formDir="ngForm" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-2" for="speed">Caegory <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select formControlName="category" class="form-control fields" required>
						<option value="">Please Select</option>
						<option *ngFor="let state of this.categoryArray" [ngValue]="state.abbrev">
							{{ state.name }}
						  </option>
					</select>
					<div *ngIf="dataForm.controls.speed.invalid && (dataForm.controls.speed.dirty || dataForm.controls.speed.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.speed.errors.required">Speed is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="name" class="form-control fields" formControlName="name"  required >
					<div *ngIf="dataForm.controls.name.invalid && (dataForm.controls.name.dirty || dataForm.controls.name.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.name.errors.required"> Name is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="speed">Speed <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="speed" class="form-control fields" formControlName="speed"  required >
					<div *ngIf="dataForm.controls.speed.invalid && (dataForm.controls.speed.dirty || dataForm.controls.speed.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.speed.errors.required">Speed is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="cost">Cost <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="cost" class="form-control fields" formControlName="cost"  required >
					<div *ngIf="dataForm.controls.cost.invalid && (dataForm.controls.cost.dirty || dataForm.controls.cost.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.cost.errors.required">Cost is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="quality">Quality <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="quality" class="form-control fields" formControlName="quality"  required >
					<div *ngIf="dataForm.controls.quality.invalid && (dataForm.controls.quality.dirty || dataForm.controls.quality.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.quality.errors.required">Quality is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="safty">Safty <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input id="safty" class="form-control fields" formControlName="safty"  required >
					<div *ngIf="dataForm.controls.safty.invalid && (dataForm.controls.safty.dirty || dataForm.controls.safty.touched)" class="text-danger">
						<div *ngIf="dataForm.controls.safty.errors.required">Safty is required.</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" [disabled]="dataForm.invalid" (click)="submitForm()">Submit</button> &nbsp;
					<a routerLink="/contractor-manager" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>