/deep/ .ngx-datepicker-container[_ngcontent-c4] .ngx-datepicker-calendar-container[_ngcontent-c4] {
    z-index: 10;
}
.ngx-datepicker-container[_ngcontent-c4] .ngx-datepicker-calendar-container[_ngcontent-c4] {
    position: absolute;
    width: 300px;
    background: #613d3d;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
    border: 1px solid #dfe3e9;
    border-radius: 4px;
}