<div class="content-wrapper">
	<section class="content container-fluid">
		<section class="content-header">
			<h1 class="pagehead">Game Setting</h1>
			<ol class="breadcrumb">
				<li><a routerLink="/settings/game-settings" class="btn btn-success btn-sm">Back</a></li>
			</ol>
		</section>
		<div class="maindiv box box-primary">

			<form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
        
			<div class="form-group">
				<label class="control-label col-sm-2" for="game_start_date">Game Start Date <span class="text-danger">*</span></label>
				<div class="col-sm-8">
          <ng-datepicker [(ngModel)]="humanStartDate" type="date" name="game_start_date" #game_start_date="ngModel"  required></ng-datepicker>

					<div *ngIf="f.submitted && game_start_date.invalid" class="text-danger" >
						<div *ngIf="game_start_date.errors.required">Game Start Date is required</div>
					</div>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="control-label col-sm-2" for="game_end_date">Game End Date <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<ng-datepicker [(ngModel)]="humanEndDate" type="date" name="game_end_Date" #game_end_Date="ngModel" required ></ng-datepicker>
					<div *ngIf="f.submitted && game_end_date.invalid" class="text-danger" >
						<div *ngIf="game_end_date.errors.required">Game End Date is required</div>
					</div>
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary">Submit</button>&nbsp;
					<a routerLink="//settings/game-settings" class="btn btn-info">Cancel</a>
				</div>
			</div>
			</form>
		</div>
	</section>
</div>